*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/inspectionProfiles
/.idea/
.DS_Store
/build/
/app/build
/app/release/
/captures
/app/release/
 
.externalNativeBuild
/app/.cxx

/logger/build
/logger/.cxx
/logger/build/.transforms/